@font-face {
    font-family: KozGoPro_Bold;
    src: url('../font/KozGoPro-Bold.otf');
}

@font-face {
    font-family: KozGoPro_Light;
    src: url('../font/KozGoPro-Light.otf');
}

@font-face {
    font-family: KozGoPro_Medium;
    src: url('../font/KozGoPro-Medium.otf');
}

@font-face {
    font-family: KozGoPro_Regular;
    src: url('../font/KozGoPro-Regular.otf');
}