// Services
.services1 {
    min-height: 580px;
    padding: 35px;
    border-bottom: 3px solid #b1d518 !important;
    border: 1px solid #b1d518;
    margin-bottom: 100px;
    &-item {
      &-img {
        float: left;
        margin-right: 70px;
        position: relative;
        img {
          max-height: 500px;
          max-width: 358px;
        }
        &_block {
          background-color: #b1d518;
          padding: 20px 25px;
          position: absolute;
          right: -11%;
          top: 25%;
          border-radius: 50%;
        }
      }
      &-content {
        h1 {
          font-family: KozGoPro_Bold;
          color: #b1d518;
        }
        h3 {
          font-family: KozGoPro_Bold;
          line-height: 1.231;
          margin-bottom: 15px;
        }
        &-items {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;
          &_block {
            background-color: #b1d518;
            padding: 5px 7px;
            width: 35px;
            height: 35px;
            margin-right: 15px;
          }
          p {
            font-family: KozGoPro_Regular;
          }
        }
      }
    }
  }
  
  .services2 {
    min-height: 580px;
    padding: 35px;
    border-bottom: 3px solid $red-color !important;
    border: 1px solid $red-color;
    margin-bottom: 100px;
    &-item {
      &-img {
        float: left;
        margin-right: 70px;
        position: relative;
        img {
          max-height: 500px;
          max-width: 358px;
        }
        &_block {
          background-color: $red-color;
          padding: 20px 25px;
          position: absolute;
          right: -11%;
          top: 25%;
          border-radius: 50%;
        }
      }
      &-content {
        h1 {
          font-family: KozGoPro_Bold;
          color: $red-color;
        }
        h3 {
          font-family: KozGoPro_Bold;
          line-height: 1.231;
          margin-bottom: 15px;
        }
        &-items {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;
          &_block {
            background-color: $red-color;
            padding: 5px 7px;
            width: 35px;
            height: 35px;
            margin-right: 15px;
          }
          p {
            font-family: KozGoPro_Regular;
          }
        }
      }
    }
  }
  
  .services3 {
    min-height: 600px;
    padding: 35px;
    border-bottom: 3px solid #02b59f !important;
    border: 1px solid #02b59f;
    margin-bottom: 100px;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img:first-child {
        width: 100%;
      }
      &-img {
        margin-top: -55px;
        background-color: #02b59f;
        padding: 20px 25px;
        border-radius: 50%;
        margin-bottom: 40px;
      }
      h1 {
        color: #02b59f;
        font-family: KozGoPro_Bold;
      }
      h3 {
        font-family: KozGoPro_Bold;
        font-size: 24px;
        margin-bottom: 15px;
      }
      &-content {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        &_block {
          background-color: #02b59f;
          padding: 5px 7px;
          min-width: 35px;
          height: 35px;
          margin-right: 15px;
        }
        p {
          font-family: KozGoPro_Regular;
        }
      }
    }
  }
  
  .services4 {
    min-height: 500px;
    padding: 35px;
    border-bottom: 3px solid $active-color !important;
    border: 1px solid $active-color;
    margin-bottom: 100px;
    &-item {
      &-img {
        float: left;
        margin-right: 70px;
        position: relative;
        img {
          max-height: 500px;
          max-width: 358px;
        }
        &_block {
          background-color: $active-color;
          padding: 20px 25px;
          position: absolute;
          right: -11%;
          top: 25%;
          border-radius: 50%;
        }
      }
      &-content {
        h1 {
          font-family: KozGoPro_Bold;
          color: $active-color;
        }
        h3 {
          font-family: KozGoPro_Bold;
          line-height: 1.231;
          margin-bottom: 15px;
        }
        &-items {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;
          &_block {
            background-color: $active-color;
            padding: 5px 7px;
            width: 35px;
            height: 35px;
            margin-right: 15px;
          }
          p {
            font-family: KozGoPro_Regular;
          }
        }
      }
    }
  }
  
  .services5 {
    min-height: 600px;
    padding: 35px;
    border-bottom: 3px solid #15202c !important;
    border: 1px solid #15202c;
    margin-bottom: 100px;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img:first-child {
        width: 100%;
      }
      &-img {
        margin-top: -55px;
        background-color: #15202c;
        padding: 20px 25px;
        border-radius: 50%;
        margin-bottom: 40px;
      }
      h1 {
        color: #15202c;
        font-family: KozGoPro_Bold;
      }
      h3 {
        font-family: KozGoPro_Bold;
        font-size: 24px;
        margin-bottom: 15px;
      }
      &-content {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        &_block {
          background-color: #15202c;
          padding: 5px 7px;
          min-width: 35px;
          height: 35px;
          margin-right: 15px;
        }
        p {
          font-family: KozGoPro_Regular;
        }
      }
    }
  }
  
  .services6 {
    min-height: 580px;
    padding: 35px;
    border-bottom: 3px solid #ffa721 !important;
    border: 1px solid #ffa721;
    margin-bottom: 100px;
    &-item {
      &-img {
        float: left;
        margin-right: 70px;
        position: relative;
        img {
          max-height: 500px;
          max-width: 358px;
        }
        &_block {
          background-color: #ffa721;
          padding: 20px 25px;
          position: absolute;
          right: -11%;
          top: 25%;
          border-radius: 50%;
        }
      }
      &-content {
        h1 {
          font-family: KozGoPro_Bold;
          color: #ffa721;
        }
        h3 {
          font-family: KozGoPro_Bold;
          line-height: 1.231;
          margin-bottom: 15px;
        }
        &-items {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;
          &_block {
            background-color: #ffa721;
            padding: 5px 7px;
            width: 35px;
            height: 35px;
            margin-right: 15px;
          }
          p {
            font-family: KozGoPro_Regular;
          }
        }
      }
    }
  }
  
  .services7 {
    min-height: 580px;
    padding: 35px;
    border-bottom: 3px solid #02b59f !important;
    border: 1px solid #02b59f;
    margin-bottom: 100px;
    &-item {
      &-img {
        float: left;
        margin-right: 70px;
        position: relative;
        img {
          max-height: 500px;
          max-width: 358px;
        }
        &_block {
          background-color: #02b59f;
          padding: 20px 25px;
          position: absolute;
          right: -11%;
          top: 25%;
          border-radius: 50%;
        }
      }
      &-content {
        h1 {
          font-family: KozGoPro_Bold;
          color: #02b59f;
        }
        h3 {
          font-family: KozGoPro_Bold;
          line-height: 1.231;
          margin-bottom: 15px;
        }
        p {
          margin-bottom: 15px;
        }
        &-items {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;
          &_block {
            background-color: #02b59f;
            padding: 5px 7px;
            width: 35px;
            height: 35px;
            margin-right: 15px;
          }
          p {
            font-family: KozGoPro_Regular;
          }
        }
      }
    }
  }